*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Keystores
*.jks
*.keystore
*.p12
*.pem

# Google Services
google-services.json

# Secrets
secrets.properties
.env*

# OS files
Thumbs.db
